
/*positioning componets on screen*/
.Attendance{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}
.dataOutput{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% 5%;
}
.dataSelection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 10%;
}
.monthSelection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.yearSelection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.gatherDataBtn{
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.gatherDataBtn:hover{
    background: black;
    color: white;
}

.monthly--output{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    border: 2px black solid;
    border-radius: 10px;
    padding: 0.5rem;
}
.yearly--output{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    border: 2px black solid;
    border-radius: 10px;
    padding: 0.5rem;
}