.container{
    width: 75%;
    height: auto;
    margin: 5rem auto;
    background-color: white;
    border: 1px transparent solid;
    box-shadow: 0 0 2px 0 
                color-mix(in srgb, #000 20%, transparent), 
                0 2px 2px 0 
                color-mix(in srgb, #000 20%, transparent);
    border-radius: 10px;
}
.dashboard--content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: fit-content;
}

.dashboard--banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .2rem 0px;
    font-size: 1.5rem;
}
.logout--btn{
    margin-left: auto;
}
.settings--btn{
    background: transparent
}

.dashboard--body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-top: 2px black solid;
}
.dashboard--display{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.dashboard--navbar{
    width: 30%;
    background-color: black;
    padding: auto;
    border: 1px solid red;
}