.dashboard--body--content{
    width: 100%;
    height: fit-content;
}
.attendance--NewVisitors{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}