.container{
    height: fit-content;
    background-color: white;
    border: 1px transparent solid;
    box-shadow: 0 0 2px 0 
                color-mix(in srgb, #000 20%, transparent), 
                0 2px 2px 0 
                color-mix(in srgb, #000 20%, transparent);
    border-radius: 10px;
    width: 100%;
    color: black;
}

.dashboard--banner{
    margin: 0em;
    text-align: center;
    padding: .2em 0px;
    font-size: 1.5em;
}

.dashboard--body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    border-top: 2px black solid;
}
