.LeaderNames--container{
    margin: 0px;
    padding: 0.19rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px black solid;
}
.LeaderNames--pulledData{
    margin: 0px;
    padding: 0px;
}
.LeaderNames--form{
    margin: 0em 1em;
    padding: 0px;
}

.LeaderNames--contactInfo{
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}
.LeaderNames--name{
    margin: 0px;
    padding: 1% 0px;
}
.LeaderNames--radio{
    background-color: white;
    background: transparent;
    color: black;
    margin: 0em;
    padding: 0em;
}
.LeaderNames--btn{
    background-color: white;
    color: black;
    cursor: pointer;
}
.LeaderNames--btn:hover{
    background-color: black;
    color: white;
}
.LeaderNames--btn:active{
    background-color: white;
    color: black;
}
.radio--btn{
    appearance: none;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: 2px solid #6e6d6d;
    transition: 0.2s all linear;
    margin-right: 2px;
}
.radio--btn:checked{
    border: 6px solid black;
}