.LeaderNames--container{
    margin: 0px;
    padding: 0.19rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px black solid;
}
.LeaderNames--pulledData{
    margin: 0px;
    padding: 0px;
}
.LeaderNames--form{
    margin: 0px;
    padding: 0px;
}

.LeaderNames--contactInfo{
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}
.LeaderNames--name{
    margin: 0px;
    padding: 1% 0px;
}