.nav--navbar{
    display: flex;
    align-items: baseline;
    padding-left: 10rem;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 2vw;
  }
  .nav--title{
    margin: 0% auto 0% 0%;
    padding: 0%;
  }
  .navbar.active{
    background-color: #FFFFFF;
    color: #000000;
    height: auto;
  }
  .navbar{
    margin-right: 5rem;
    font-size: 2vw;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 2px 25px 2px;
    cursor: pointer;
  }