.nav--navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0em;
    padding: 0.5em 1em 0em 1em;
  }
  .nav--title{
    margin: 0% auto 0% 0%;
    font-size: 2em;
    font-weight: 700;
  }
  .navbar.active{
    background-color: #FFFFFF;
    color: #000000;
  }
  .navbar{
    margin: 0px;
    padding-left: 5%;
    font-size: 1.8em;
    font-weight: 600;
    border: none;
    text-decoration: underline;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }