.newGuys--container{
    padding: 0px;
    margin: 0px;
    width: 40%;
    max-height: max-content;
    overflow: scroll;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
    padding: 0.5rem;
}
.newGuys--title{
    border-bottom: 1px black dashed;
}
.newGuy--element{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px 0px 1rem 0px;
    border: 2px black dashed;
    border-radius: 10px;
    padding: 0.5rem;
}

.newGuy--info{
    padding: 0px;
    margin: 0px;
}
.newGuy--text{
    padding: 0px;
    margin: 0px;
}

.newGuy--btn{
    margin: 0px;
    padding: 1em 0em;
    width: fit-content;
    background: white;
    color: black;
    cursor: pointer;
    border: 1px black solid;
}
.newGuy--btn:hover{
    background: black;
    color: white;
}
.newGuy--btn:focus{
    background: white;
    color: black;
    border: 1px rgb(39, 39, 68) solid;
}