.profile--container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px;
    padding: auto;
    align-items: center;
}

.profile--resetbtn{
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.profile--resetbtn:hover{
    background: black;
    color: white;
}

