.div--reset--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

div > label {
    margin-top: 1rem;    
}

.reset--textBox{
    width: fit-content;
    font-size: 1.2rem;
}


.reset--btn{
    margin-top: 1rem;
    font-family: "neue-haas-grotesk-display", sans-serif;
}