.BugReport--Container{
    width: 100%;
    height: fit-content;
    margin: auto
}

.BugReport--reportScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0px;
}
.BugReport--textArea{
    width: 50%;
    height: 10rem
}
.BugReport--btn{
    height: 2rem;
    font-size: medium;
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.BugReport--btn:hover{
    background: black;
    color: white;
}

.BugReport--Confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}