:root {
  font-family: "neue-haas-grotesk-display", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0px;
  padding: 0px;
  background-color: #F5F6FA;
}
body,html{
  height: 100%;
}
